{
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:prettier/recommended", "plugin:react/recommended"],
  "rules": {
    "no-console": "off"
  }
}
